.form-container {
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    height: 500px;
    margin: 0 auto;
}

.form-content {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 25px; /* Increased space between inputs */
    position: relative;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid rgba(164, 11, 11, 0.8); /* Slightly transparent */
    border-radius: 0;
    font-size: 16px;
    outline: none;
    background: rgba(0, 0, 0, 0.3); /* Slightly transparent background */
    color: #ccc;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #ccc;
}

.form-group select {
    color: #ccc;
    appearance: none;
    background: rgba(0, 0, 0, 0.3); /* Slightly transparent background */
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23ccc" d="M2 0L0 2h4zM2 5L0 3h4z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 8px 10px;
    font-size: 18px; /* Increased input size */
}

.form-group select option {
    color: black; /* Text color */
    background: white; /* Background color */
    font-size: 16px; /* Font size */
    padding: 10px; /* Padding */
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #9F0D0D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

button[type="submit"]:hover {
    background-color: #9F0D0D;
}