.Usercard {
    width: 300px;
    background-color: #1b0a03; /* Dark brown background */
    color: #fff; /* White text */
    border-radius: 8px;
    padding: 20px;
    font-family: "Arial", sans-serif;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none; /* No border color */
}
  
  .Usercard-icon {
    font-size: 24px;
    color: #ff4d4d; /* Red for the lightning bolt icon */
    margin-bottom: 10px;
  }
  
  .Usercard-card-header h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .Usercard-card-body p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
  }
  